@page "/addteam"
@inject HttpClient Http
@using CricketManager.Models
@using Telerik.Blazor.Components.FileSelect.Stream;
@inject NavigationManager NavigationManager


<h3>Add Team</h3>
<div class="demo-section">

        <TelerikForm Model="@addteam"
                 OnValidSubmit="@HandleValidSubmit">
            <FormValidation>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidation>
            <FormItems>
            <label class="k-label k-form-label">Logo:</label>
            <TelerikFileSelect OnSelect="Filepath"
                           AllowedExtensions="@( new List<string>() { ".png", ".jpeg" } )">
            </TelerikFileSelect>
                <FormItem Field="@nameof(CricketTeam.Name)"></FormItem>
                <FormItem Field="@nameof(CricketTeam.Manager)"></FormItem>
                <FormItem Field="@nameof(CricketTeam.Contact)"></FormItem>
             </FormItems>
            <FormButtons>
            <TelerikButton ButtonType="ButtonType.Submit" ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)" @onclick="AddNotification">Save</TelerikButton>
                <TelerikButton ButtonType="ButtonType.Button">Reset</TelerikButton>
            </FormButtons>
        </TelerikForm>
    <TelerikNotification HorizontalPosition="@NotificationHorizontalPosition.Center" VerticalPosition="@NotificationVerticalPosition.Top" @ref="@NotificationReference" Class="MyTelerikNotification"></TelerikNotification>
</div>

@code {
    public TelerikNotification NotificationReference { get; set; }

    public void AddNotification()
    {
        NotificationReference.Show(new NotificationModel()
            {
                Text = "New Team Added",
                ThemeColor = ThemeConstants.Notification.ThemeColor.Success,

            });
    }

    public string Name { get; set; }
    public void Filepath(FileSelectEventArgs args)
    {
        foreach (var file in args.Files)
        {
            Name = file.Name;       
        }
    }
    public string ToAbsoluteUrl(string url)
    {
        return $"{NavigationManager.BaseUri}{url}";
    }
    public CricketTeam addteam { get; set; } = new CricketTeam();
    //    {
    //        TeamName = "Nec",
    //        Manager = "neeraj",
    //        Contact = "987867567785",
    //    };

    public bool ValidSubmit { get; set; } = false;

    public void HandleValidSubmit()
    {
        string json = System.IO.File.ReadAllText("wwwroot/JsonData/AddTeam.json");

        var jsonObj = JsonConvert.DeserializeObject<List<CricketTeam>>(json);

        addteam.Logo = Name;

        addteam.Id = jsonObj.Count() + 2;

        jsonObj.Add(addteam);

        var updatedJson = JsonConvert.SerializeObject(jsonObj);

        System.IO.File.WriteAllText("wwwroot/JsonData/AddTeam.json", updatedJson);
        
    }

    void HandleInvalidSubmit()
    {
        ValidSubmit = false;
    }

 }
<style>
    .MyTelerikNotification .k-notification-container .k-notification-wrap {
        width: 300px;
        height: 50px;
        font-size: 1.5em;
        text-align: center;
        align-items: center;
    }
</style>