@page "/addteam"
@inject HttpClient Http
@using CricketManager.Models
@inject NavigationManager NavigationManager

<h3>Add Team</h3>

<div class="demo-section">
    @if (ValidSubmit)
    {
        <div class="demo-alert demo-alert-success" role="alert">
            The form was submitted successfully.
        </div>

    }
    else
    {
        <TelerikForm Model="@addteam"
                 OnInvalidSubmit="@HandleInvalidSubmit">
            <FormValidation>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidation>
            <FormItems>
                <FormItem Field="@nameof(addteam.Name)"></FormItem>
                <FormItem Field="@nameof(addteam.Manager)"></FormItem>
                <FormItem Field="@nameof(addteam.Contact)"></FormItem>
             </FormItems>
            <FormButtons>
                <TelerikButton ButtonType="ButtonType.Submit" OnClick="Toeditteam" ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Save</TelerikButton>
                <TelerikButton ButtonType="ButtonType.Button">Reset</TelerikButton>
            </FormButtons>
        </TelerikForm>

    }
</div>

@code {
    public addteam addteam { get; set; } = new addteam();
    //    {
    //        TeamName = "Nec",
    //        Manager = "neeraj",
    //        Contact = "987867567785",
    //    };


    
    public bool ValidSubmit { get; set; } = false;

    async void HandleValidSubmit()
    {
        ValidSubmit = true;

        await Task.Delay(2000);

        ValidSubmit = false;

        StateHasChanged();
    }

    void HandleInvalidSubmit()
    {
        ValidSubmit = false;
    }

     public void Toeditteam()
    {
        NavigationManager.NavigateTo("EditTeam");
    }
}