@page "/cricketteams"

@using CricketManager.Models

<h3>Cricket Teams</h3>


<TelerikGrid Data="@theData" Height="500px" Width="1000px">
    <GridColumns>
        <GridColumn Field="@(nameof(CricketTeam.Logo))">
            <Template>
                @*<form action="/action_page.php">
                    <input type="file" id="myFile" name="filename">
                </form>*@
                @{
                    var employee = context as CricketTeam;
                    <img class="rounded" src="@($"/neclogo.png")" alt="Team Logo" />
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@(nameof(CricketTeam.Name))" Title=" Team Name">
            <Template>
                <a href="@($"/playerlist/{((context as CricketTeam).Name)}")">
                    <span class="span-nav">
                        @((context as CricketTeam).Name)
                    </span>
                </a>
            </Template>
        </GridColumn>
        <GridColumn Field="@(nameof(CricketTeam.NumberofPlayers))" />
    </GridColumns>
</TelerikGrid>
<TelerikButton>
<a href="AddTeam">Add New Team</a>
</TelerikButton>


@code {


    public List<CricketTeam> theData = new List<CricketTeam>
    {
        new CricketTeam
        {
            Name = "NEC",
            NumberofPlayers = "2",
        },
        new CricketTeam
        {
            Name = "MI",
            NumberofPlayers = "4"
        },
        new CricketTeam
        {
            Name = "CSK",
            NumberofPlayers = "10"
        },
         new CricketTeam
        {
            Name = "RCB",
            NumberofPlayers = "10"
        },
         new CricketTeam
        {
            Name = "KKR",
            NumberofPlayers = "10"
        },
         new CricketTeam
        {
            Name = "GT",
            NumberofPlayers = "10"
        },

    };
}