@page "/cricketteams"

@using CricketManager.Models

<h3>Cricket Teams</h3>


<TelerikGrid Data="@theData" Height="150px" Width="800px">
    <GridColumns>
        <GridColumn Field="@(nameof(CricketTeam.Name))">
            <Template>
                <a href="@($"/playerlist/{((context as CricketTeam).Name)}")">
                    <span class="span-nav">
                        @((context as CricketTeam).Name)
                    </span>
                </a>
            </Template>
        </GridColumn>
        <GridColumn Field="@(nameof(CricketTeam.NumberofPlayers))" />
    </GridColumns>
</TelerikGrid>
<TelerikButton>
<a href="AddTeam">Add New Team</a>
</TelerikButton>


@code {


    public List<CricketTeam> theData = new List<CricketTeam>
    {
        new CricketTeam
        {
            Name = "Nec",
            NumberofPlayers = "2",
        },
        new CricketTeam
        {
            Name = "WIPRO",
            NumberofPlayers = "4"
        },
        new CricketTeam
        {
            Name = "TCS",
            NumberofPlayers = "10"
        },
         new CricketTeam
        {
            Name = "Registry",
            NumberofPlayers = "20"
        },
         new CricketTeam
        {
            Name = "Test",
            NumberofPlayers = "203"
        }
    };
}